.env
__pycache__/
*.pyc
*.pyo
.venv/
venv/
backend-env/
*.db
node_modules/
backend.zip
frontend.zip
Data_CSV/
For new chat/
Personal_Budget_Tool_Documentation_Short.docx
BUDGET_TOOL_README.md
README.txt
folder_structure.txt
.DS_Store
*.exe
